.func-block__right{
    max-width: 840px;
    width: 100%;
    border-color: #C6CDB7;
    border-style:solid;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    color: black;
    font-family: 'Lora', 'Regular', sans-serif;
    text-transform: uppercase;


    &-name{
        background-color: #9FC53A;
        height: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @media @bw500{
            font-size: 10px;
        }
        @media @bw1020{
            font-size: 15px;
        }
    }
}