.func-block-wrapper{
    .container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 200px;
}

.func-block__left{
    height: 600px;
    max-width: 840px;
    width: 100%;;
    background-color: #3B388D;
    color: #B2B1D8;
    font-family: 'Lora', 'Regular', sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;

    &-choose{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    &-functional{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

