.info{
    &-wrapper{
        display: flex;
        align-self: center;
        flex-direction: column;
    }

    &__name{
        display: flex;
        align-items: center; /* Vertically centers the text */
        justify-content: center; /* Horizontally centers the text */
        text-align: center; /* Ensures text is centered within the flex container */
        font-size: 25px;
        text-transform: uppercase;
        background-color: #9FC53A;
        width: 1820px;
        height: 85px;
        border-radius: 10px 10px 0 0;
        font-weight:lighter;
    }

    &__desc{
        background-color: #FFFFFF;
        border-radius: 0 0 10px 10px;
    }

    &__block{
        margin-bottom: 20px;
    }


}

