.main__header {
    background-color: #3B388D;
    display: flex;
    justify-content: space-between;
    margin: 0; 
    padding: 0;
    top: 0; 
    right: 0;
    left: 0;
    align-items: center;
    color: white;
    box-sizing: border-box;
    margin-bottom: 120px;

    &-name{
        font-size: 35px;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 25px;
    }

    &-selector{
        flex-grow: 1;
        margin: 0 100px;
    }

    &-select{
        width: 600px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
    }

    &-search_box{
        display: flex;
        align-items: center;
    }

    &-search-input{
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        width: 350px;
        margin-right: 10px;
    }

    &-search-button{
        padding: 10px 20px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-right: 15px;

        :hover{
            background-color: #333;
        }
    }

}


