@bw370: ~"(max-width:396px)";
@bw400: ~"(max-width:399px)";
@bw500: ~"(max-width:499px)";
@bw600: ~"(max-width:599px)";
@bw650: ~"(max-width:649px)";
@bw700: ~"(max-width:699px)";
@bw768: ~"(max-width:767px)";
@bw960: ~"(max-width:959px)";
@bw1020: ~"(max-width:1019px)";
@bw1170: ~"(max-width:1169px)";
@bw1340: ~"(max-width:1339px)";
@bw1660: ~"(max-width:1659px)";


html,body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Высота на весь экран */
    height: 100%;
    min-width: 100wh;
    width: 100%;
    font-family: 'Lora', 'Regular', sans-serif;
    display: flex;
    flex-direction: column;
}

.container() {
    box-sizing: border-box;
    width: 100%;
    max-width: 1820px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}