body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Высота на весь экран */
    height: 100%;
    font-family: 'Lora', 'Regular', sans-serif;
    display: flex;
    flex-direction: column;
}
